{% import 'macros.html' as macros %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />

    <link rel="icon" href="/static/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/static/icon.svg" type="image/svg+xml" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link href="/static/app.css" rel="stylesheet" />

    <title>Chapter Sync</title>
  </head>
  <body>
    {% include 'header.html' %}
    <main class="container">
      {% block body %}{% endblock %}
    </main>
  </body>
</html>
