{% extends "base.html" %}
{% block body %}
  <article>
    <form method="post" action="/subscriber">
      <fieldset class="grid">
        <label>
          Email
          <input type="text" name="email" id="email" placeholder="John" required />
        </label>
      </fieldset>
      <fieldset class="grid">
        <button type="submit">
          {{ macros.icon_new(size=24) }}
          Add
        </button>
      </fieldset>
    </form>
  </article>
  <article>
    {% if not subscribers_list %}
      No subscribers.
    {% else %}
      <table>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
          {% for s in subscribers_list %}
            <tr>
              <td>{{ s.id }}</td>
              <td>
                <a href="{{ url_for('get_subscriber', subscriber_id=s.id) }}">{{ s.email }}</a>
              </td>
              <td>
                <em data-tooltip="{{ s.created_at | format_datetime }}">{{ s.created_at | relative_datetime }}</em>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </article>
{% endblock %}
